* {
  padding: 0;
  margin: 0px;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.2;
  font-weight: 400;
  color: hsl(192, 100%, 9%);
  font-size: 2rem;
}
p {
  line-height: 1.5;
}
main {
  margin: 0 auto;
  max-width: 160rem;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 4.8rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}
h3 {
  font-size: 4.8rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}
footer {
  font-size: 1.6rem;
  line-height: 1.5;
  /* background-color: #00252e; */
}
/* #####CLASSES */

/* REUSABLE CLASSES BEGINNING*/ /* REUSABLE CLASSES BEGINNING*/ /* REUSABLE CLASSES BEGINNING*/ /* REUSABLE CLASSES BEGINNING*/
.flex-horizotal {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.header__heading__title_headings {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 3.6rem;
}
.container {
  max-width: 140rem;
  padding: 0 4.8rem;
  margin: 0 auto;
}

.grid__2__col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  /* column-gap: 6.4rem; */
}
.icon {
  height: 3.6rem;
  width: 3.6rem;
}
.icon-pink {
  stroke: #e64aac;
}
.icon_small,
.icon_small:link {
  height: 2.4rem;
  width: 2.4rem;
  text-decoration: none;
}
.icon-white {
  stroke: white;
  fill: white;
}
.icon-big-white {
  width: 4.8rem;
  height: auto;
}
.icon-facebook:hover {
  stroke: #4267b2;
  fill: #4267b2;
}
.icon-instagram:hover {
  stroke: #8a3ab9;
  fill: #8a3ab9;
}
.icon-twitter:hover,
.icon-twitter:active {
  stroke: #00acee;
  fill: #00acee;
}
/* REUSABLE CLASSES ENDING*/ /* REUSABLE CLASSES ENDING*/ /* REUSABLE CLASSES ENDING*/ /* REUSABLE CLASSES ENDING*/

/*  BUTTONS BEGINING */ /*  BUTTONS BEGINING */ /*  BUTTONS BEGINING */ /*  BUTTONS BEGINING */ /*  BUTTONS BEGINING */
.btn,
.btn:link,
.btn:visited {
  transition: 0.3s;

  cursor: pointer;
  letter-spacing: 0.1rem;
  padding: 0.8rem 1.6rem;
  font-size: 2rem;
  text-decoration: none;
  border-radius: 200rem;
  box-shadow: rgba(0, 0, 0, 0.1) -6px 3px 4px 1px;
}

.btn:hover,
.btn:active {
  box-shadow: rgba(0, 0, 0, 0.1) -6px 3px 4px 1px;
}
.btn__white:link,
.btn__white:visited {
  transition: 0.3s;

  color: #e64aac;
  border: #e64aac solid 1px;
}
.btn__white:hover,
.btn__white:active {
  color: #ff86d2;
  border: #ff86d2 solid 1px;
}
.btn__pink,
.btn__pink:link,
.btn__pink:visited {
  transition: 0.3s;

  padding: 1.8rem 7.4rem;
  font-size: 2rem;
  color: #ffffff;
  background-color: #e64aac;
}
.btn__pink:hover,
.btn__pink:active {
  background-color: #ff86d2;
}
.btn__pink--submit {
  border-radius: 12px;
  border: none;
  padding: 1.2rem 2.4rem;
  font-size: 1.6rem;
  color: #ffffff;
  background-color: #e64aac;
  transition: 0.3s;
}
.btn__pink--submit:hover {
  background-color: #ff86d2;
}
.email {
  border-radius: 12px;
  border: none;
  padding: 1.2rem 2.4rem;
}
/*  BUTTONS ENDING */ /*  BUTTONS ENDING */ /*  BUTTONS ENDING */ /*  BUTTONS ENDING */ /*  BUTTONS ENDING */

/* CLASSES */ /* CLASSES */ /* CLASSES */ /* CLASSES */ /* CLASSES */ /* CLASSES */
.header__heading {
  padding-top: 3.2rem;
  max-width: 150rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: normal;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 9.6rem;
}
.header__heading__title {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header__heading__btn {
  grid-column: -1/-2;
  margin-left: auto;
}
.header__heading__logo {
  width: 90%;
}
.hero {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  /* padding-bottom: 9.6rem; */
}
.hero__text {
  max-width: 60rem;
}

.hero__image__container {
  margin: 9.2rem 0;
}
.hero__image__img {
  max-width: 100%;
}
.hero__statistics {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.hero__statistics__container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  /* justify-content: flex-start; */
  align-items: center;
}
.hero__statistics__number {
  font-size: 7.4rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.accordion {
  margin-bottom: 12.8rem;
}
.accordion__section__top__wavyImg {
  display: block;
  background-image: url(../images/bg-section-top-desktop-1.svg);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100vw;
  height: 16rem;
}

.accordion__section__btm__wavyImg {
  display: block;
  background-image: url(../images/bg-section-bottom-desktop-1.svg);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100vw;

  height: 16rem;
}
.accordion__content {
  column-gap: 6.4rem;
}
.accordion__container {
  background-color: #f6fbff;
  padding: 3.2rem 0;
}
.accordion__content__img__container img {
  width: 100%;
}

.accordion P {
  margin-top: 3.2rem;
}
.accordion__container-whiteBG {
  background-color: #fff;
  padding-top: 4.8rem;
  padding-bottom: 6.4rem;
}
.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.6rem;
  margin-bottom: 9.6rem;
}
/* .accordion__section__btm__wavyImg {
  display: block;
  background-image: url(../images/bg-section-bottom-desktop-1.svg);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100vw;

  height: 16rem;
} */
.footer__top__wavyImg {
  display: block;
  background-image: url(../images/bg-footer-top-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  /* max-width: 100vw; */
  max-width: 100%;

  height: 100%;
}
.footer__top__wavyImg__cont {
  max-width: 100vw;
  margin: 0 auto;
  height: 16rem;
}
.footer__section {
  background-color: #00252e;
  color: white;
  padding-bottom: 4.8rem;
}
.footer__brand {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.h2-big-white {
  font-size: 4.8rem;
}
.footer__section__grid {
  column-gap: 4rem;
  align-items: flex-start;
  justify-items: center;
}
.footer__contactinfo {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer__contactinfo__container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.socialmedia {
  margin-top: 2.4rem;
  display: flex;
  gap: 1.5rem;
}
.footer__h3 {
  font-size: 2.4rem;
}
/* .footer__top__wavycontainer {
  max-width: 100vw;
  margin: auto;
} */
/* CLASSES */ /* CLASSES */ /* CLASSES */ /* CLASSES */ /* CLASSES */ /* CLASSES */ /* CLASSES */ /* CLASSES */ /* CLASSES */
/* 
01-- TYPOGRAPHY SYSTEM 

-SPACING SYSTEM(px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
- Font sizes(px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 
44 / 52 / 62 / 74 / 86 / 98

######FONTS
- Font weights
- Family: [Poppins](https://fonts.google.com/specimen/Poppins)
- Weights: 700

font-family: 'Poppins', sans-serif;

### Body

- Family: [Open Sans](https://fonts.google.com/specimen/Open+Sans)
- Weights: 400, 600, 700

font-family: 'Open Sans', sans-serif;
Default: 400
-Line weight
Default: 1
1.05 1.5


  

02-- colours
- Pink:  hsl(322, 100%, 66%)
shades: #e64aac #802960 
- Light Pink: hsl(321, 100%, 78%)
- Light Red: hsl(0, 100%, 63%)

### Neutral

- Very Dark Cyan: hsl(192, 100%, 9%)
shades: #002129 #000b0e #000405


- Very Pale Blue: hsl(207, 100%, 98%)
--05  SHADOWS 
  box-shadow: inset 0 0 0 3pt #fff;

--06 BORDER RADIUS
default 9px
--07 WHITE SPACE(px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/
